body {
    background-color: aliceblue;
    background-image: url("../public/images/pbg.jpg");
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

.container {
    padding: 40px;
}

.carousel-container {
    padding: 15px;
}

.quote-container p {
    font-size: clamp(23px, 4vw, 26px);
    font-weight:700;
}

.quote-container q {
    font-size: 105%; 
}

.grid-container {
    background-color: rgba(80, 208, 255, 0.232);
}

.grid-container h2 {
    color: whitesmoke
}

mark {
    background-color: rgba(250, 235, 215, 0.539);
}